
@model RiskDashBoard.Models.Risk

<style>
    .comments {
        text-decoration: underline;
        text-underline-position: under;
        cursor: pointer;
    }

    .hit-voting:hover {
        color: blue;
    }

    .hit-voting {
        cursor: pointer;
    }
</style>

<div class="row">
    <div class="container">
        <div class="d-flex justify-content-center row">
            <div class="d-flex flex-column col-md-12">
                <div class="coment-bottom bg-white p-2 px-4">
                    <div class="d-flex flex-row add-comment-section mt-4 mb-4"><input id="riskCommentText" type="text" class="form-control mr-3" placeholder="Add comment" style="margin-right:10px"><button class="btn btn-primary" type="button" onclick="AddCommentToRisk(@Model.RiskId)">Comment</button></div>
                    <div style="overflow:auto; max-height:300px;">
                        @foreach(var comment in Model.Comments){
                            <div class="commented-section mt-2">
                                <div class="d-flex flex-row align-items-center commented-user">
                                    <h5 class="mr-2">@comment.UserName</h5><span class="mb-1 ml-2" style="margin-left:10px"> - @comment.TimeLapse ago</span>
                                </div>
                                <div class="comment-text-sm" style="white-space: pre-line"><span>@comment.UserComment</span></div>
                                <div class="reply-section">
                                    <div class="d-flex flex-row align-items-center voting-icons">
                                        <a onclick="DeleteCommentToRisk(@comment.CommentId)"><i class="far fa-trash-alt"></i></a>
                                        @* <h6 class="ml-2 mt-1">Reply</h6> *@
                                    </div>
                                </div>
                            </div>
                            <hr/>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function AddCommentToRisk(RiskId) {

        $.ajax({
            url: "/Risks/AddCommentToRisk",
            type: 'POST',
            data: { idRisk: RiskId, commentTxt: $('#riskCommentText').val() },
            success: function (data) {
                GetRiskCommentsPartial();
            }
        });
    };

    function DeleteCommentToRisk(CommentId) {

        $.ajax({
            url: "/Risks/DeleteCommentToRisk",
            type: 'POST',
            data: { idComment: CommentId },
            success: function (data) {
                GetRiskCommentsPartial();
            }
        });
    };
</script>