@model IEnumerable<RiskDashBoard.Models.Phase>
@using static RiskDashBoard.Resources.StaticInfo


<style>
    .card-header .fa {
        transition: .3s transform ease-in-out;
    }

    .card-header .collapsed .fa {
        transform: rotate(90deg);
    }
</style>


<div class="row">

    <div class="col-sm p-3 min-vh-100">

        <div class="card" style="margin-top: 5px">
            <h5 class="card-header">
                <span>Incremental Definition</span>
            </h5>
        </div>

        @foreach (var phase in Model.Select((value, i) => new {i, value}))
        {
            <div class="card" style="margin-top: 5px">
                <div class="card-header row" style="margin-left:1px; margin-right: 1px;">
                    @if (phase.value.IsCurrentPhase)
                    {
                        <div class="col-1">
                            <a class="btn btn-outline-info mx-1 p-1" onclick="DislplayValidatePhase(@phase.value.PhaseId, @phase.value.ProjectId)"><i class="fa-solid fa-diagram-next"></i></a>
                            <a class="btn btn-outline-success mx-1 p-1" onclick="DislplayAddRiskToPhase(@phase.value.PhaseId, @phase.value.ProjectId)"><i class="fa-solid fa-plus"></i></a>
                        </div>
                    }
                    <div class="@(phase.value.IsCurrentPhase ? "col-11" : "col-12")">
                        <h5>
                            <a data-bs-toggle="collapse" href="#@phase.value.PhaseId" aria-expanded="true" aria-controls="collapse-example" id="phase_@phase.value.PhaseId" class="d-block @(phase.value.IsCurrentPhase ? "" : "collapsed")">
                                <i class="fa fa-chevron-down pull-right"></i>
                                @foreach (var phaseType in @phase?.value?.PhaseTypes)
                                {
                                    @switch (phaseType.PhaseTypeName)
                                    {
                                        case 1:
                                            <span class="badge rounded-pill bg-primary float-md-end mb-3 mb-sm-0">EXPLORATION</span>
                                            break;
                                        case 2:
                                            <span class="badge rounded-pill bg-primary float-md-end mb-3 mb-sm-0">VALUATION</span>
                                            break;
                                        case 3:
                                            <span class="badge rounded-pill bg-primary float-md-end mb-3 mb-sm-0">FOUNDATIONS</span>
                                            break;
                                        case 4:
                                            <span class="badge rounded-pill bg-primary float-md-end mb-3 mb-sm-0">DEVELOPMENT</span>
                                            break;
                                        case 5:
                                            <span class="badge rounded-pill bg-primary float-md-end mb-3 mb-sm-0">OPERATION</span>
                                            break;
                                    }
                                }
                            </a>
                        </h5>
                    </div>
                </div>
                <div id="@phase.value.PhaseId" class="collapse @(phase.value.IsCurrentPhase ? " show" :"")" aria-labelledby="heading-example">
                    <div class="card-body">
                        <div class="row">
                            @foreach (var risk in phase?.value?.Risks)
                            {
                                var border = risk.RiskLevel == (int)RiskLevelEnum.BLOCKER ? "border-danger" : risk.RiskLevel == (int)RiskLevelEnum.HIGH ? "border-warning" : risk.RiskLevel == (int)RiskLevelEnum.MEDIUM ? "border-primary" : "border-success";
                                <div class="card @(border) mb-3 border-2" style="max-width: 18rem; margin-left: 20px;">
                                    <div class="card-body">
                                        <h5 class="card-title">@risk.RiskId - @risk.RiskName</h5>
                                        <p class="card-text">@(risk.RiskDescription?.Length > 60 ? risk.RiskDescription.Substring(0,60) + "...":risk.RiskDescription)</p>
                                    </div>
                                    <div class="card-footer" style="margin-left:-12px; margin-right:-12px">
                                        <a asp-action="Edit" asp-route-id="@risk.RiskId" asp-route-idProy="@phase?.value.ProjectId"><i class="fa-solid fa-pencil"></i></a>
                                        <a asp-action="Delete" asp-route-id="@risk.RiskId"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
               
            @if (phase?.i == 2)
            {
                <div class="card" style="margin-top: 5px">
                    <h5 class="card-header">
                        <span>Incremental Development Operations & Production</span>
                    </h5>
                </div>
            }
        }
    </div>
</div>




