
@model List<RiskDashBoard.Models.Risk>

<div class="row">
    <div class="col-12">
        <table class="table table-bordered table-striped table-responsive table-fixed">
            <thead class="sticky-top">
                <tr>
                    <th>Risk Title</th>
                    <th>Phase detected</th>
                    <th>Risk Level</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.RiskName)</td>
                        <td>@Html.DisplayFor(modelItem => item.RiskLevel)</td>
                            <td>@Html.DisplayFor(modelItem => item.RiskId)</td>
                        <td class="text-center">
                            @* <button type="button" id="@item.RiskId" onclick="AddRisk(@item.RiskId, @item.PhaseId)" class="btn btn-"><i class="far fa-trash-alt"></i></button>                            *@
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>
<script>
    function RemoveUser(UserId, projectId) {
        $.ajax({
            url: "/Projects/RemoveUserToTheProject",
            type: 'POST',
            data: { idUser: UserId, idProy: projectId },
            success: function (data) {
                GetUserProjectsPartial()
            }
        });
    };

    function AddUser(UserId, projectId) {
        $.ajax({
            url: "/Projects/AddUserToTheProject",
            type: 'POST',
            data: { idUser: UserId, idProy: projectId },
            success: function (data) {
                GetUserProjectsPartial()
            }
        });
    };
</script>