@model IEnumerable<RiskDashBoard.Models.Phase>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://kit.fontawesome.com/6efa2f4c47.js" crossorigin="anonymous"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
    .card-header .fa {
        transition: .3s transform ease-in-out;
    }

    .card-header .collapsed .fa {
        transform: rotate(90deg);
    }
</style>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm p-3 min-vh-100">

            <div class="card" style="margin-top: 5px">
                <h5 class="card-header">
                    <span>Incremental Definition</span>
                </h5>
            </div>

            @foreach (var phase in Model.Select((value, i) => new {i, value}))
            {
                <div class="card" style="margin-top: 5px">
                    <div class="card-header row" style="margin-left:1px; margin-right: 1px;">
                        @if (phase.value.IsCurrentPhase)
                        {
                            <div class="col-1">
                                <a class="btn btn-outline-info mx-1 p-1" onclick="DislplayValidatePhase(@phase.value.PhaseId, @phase.value.ProjectId)"><i class="fa-solid fa-diagram-next"></i></a>
                                <a class="btn btn-outline-success mx-1 p-1" onclick="DislplayAddRiskToPhase(@phase.value.PhaseId)"><i class="fa-solid fa-plus"></i></a>
                            </div>
                        }
                        <div class="@(phase.value.IsCurrentPhase ? "col-11" : "col-12")">
                            <h5>
                                <a data-bs-toggle="collapse" href="#@phase.value.PhaseId" aria-expanded="true" aria-controls="collapse-example" id="phase_@phase.value.PhaseId" class="d-block @(phase.value.IsCurrentPhase ? "" : "collapsed")">
                                    <i class="fa fa-chevron-down pull-right"></i>
                                    @foreach (var phaseType in @phase?.value?.PhaseTypes)
                                    {
                                        @switch (phaseType.PhaseTypeName)
                                        {
                                            case 1:
                                                <span class="badge rounded-pill bg-primary float-md-end mb-3 mb-sm-0">EXPLORATION</span>
                                                break;
                                            case 2:
                                                <span class="badge rounded-pill bg-primary float-md-end mb-3 mb-sm-0">VALUATION</span>
                                                break;
                                            case 3:
                                                <span class="badge rounded-pill bg-primary float-md-end mb-3 mb-sm-0">FOUNDATIONS</span>
                                                break;
                                            case 4:
                                                <span class="badge rounded-pill bg-primary float-md-end mb-3 mb-sm-0">DEVELOPMENT</span>
                                                break;
                                            case 5:
                                                <span class="badge rounded-pill bg-primary float-md-end mb-3 mb-sm-0">OPERATION</span>
                                                break;
                                        }
                                    }
                                </a>
                            </h5>
                        </div>
                    </div>
                    <div id="@phase.value.PhaseId" class="collapse @(phase.value.IsCurrentPhase ? " show" :"")" aria-labelledby="heading-example">
                        <div class="card-body">
                            <div class="row">
                                @foreach (var risk in phase?.value?.Risks)
                                {
                                    var border = risk.RiskLevel >= 75 ? "border-danger" : risk.RiskLevel >= 50  ? "border-warning" : risk.RiskLevel >= 25 ? "border-primary" : "border-success";
                                    <div class="card @(border) mb-3 border-2" style="max-width: 18rem; margin-left: 20px;">
                                        <div class="card-body">
                                            <h5 class="card-title">@risk.RiskId - @risk.RiskName</h5>
                                            <p class="card-text">@risk.RiskDescription</p>
                                        </div>
                                        <div class="card-footer" style="margin-left:-12px; margin-right:-12px">
                                            <a asp-action="Edit" asp-route-id="@risk.RiskId" asp-route-idProy="@phase?.value.ProjectId"><i class="fa-solid fa-pencil"></i></a>
                                            <a asp-action="Delete" asp-route-id="@risk.RiskId"><i class="fas fa-trash"></i></a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
               
                @if (phase?.i == 2)
                {
                    <div class="card" style="margin-top: 5px">
                        <h5 class="card-header">
                            <span>Incremental Development Operations & Production</span>
                        </h5>
                    </div>
                }
            }
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="validatePhaseModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Validate Phase</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="validatePhaseProcessBody"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                @* <button type="button" class="btn btn-primary">Save changes</button> *@
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addRiskToPhaseModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add risk</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="addRiskToPhaseBody"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                @* <button type="button" class="btn btn-primary">Save changes</button> *@
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        function DislplayAddRiskToPhase(PhaseId) {
            $.ajax({
                url: '/Risks/Create',
                type: 'GET',
                data: { id: PhaseId },
                success: function (data) {
                    $('#addRiskToPhaseBody').html(data);
                    $('#addRiskToPhaseModal').modal('show');
                    LoadRiskList();
                },
                error: function () {
                    alert('Error occurred while fetching data.');
                }
            });
        }

        function LoadRiskList() {
            $.ajax({
                url: '/Risks/GetRisksPartial',
                type: 'GET',
                success: function (data) {
                    $('#ViewPartialRisk').html(data);
                },
                error: function () {
                    alert('Error occurred while fetching data.');
                }
            });
        }

        function DislplayValidatePhase(PhaseId, ProjectId) {
            $.ajax({
                url: '/Risks/ValidatePhase',
                type: 'GET',
                data: { id: PhaseId, idProject: ProjectId },
                success: function (data) {
                    $('#validatePhaseProcessBody').html(data);
                    $('#validatePhaseModal').modal('show');
                },
                error: function () {
                    alert('Error occurred while fetching data.');
                }
            });
        }

    </script>
}





