@model IEnumerable<RiskDashBoard.Models.Risk>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RiskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RiskDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RiskType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RiskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RiskDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RiskType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RiskId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RiskId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RiskId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
